.dialog__dang-ky-ca-lam {
	width: 700px;
	.btn__grp {
		margin-bottom: 20px;
		margin-top: 15px;
		.btn__luu {
			margin-left: -0 !important;
		}
		.btn__huy {
			margin-left: -0 !important;
		}
	}
}
