<nb-card>
  <nb-card-header>
    Thống kê đơn hàng
  </nb-card-header>
  <nb-card-body>
    <input
				class="m-2"
				nbInput
				placeholder="Thời gian đặt hàng"
				[(ngModel)]="tgMuaHang"
				[nbDatepicker]="dpkHSTrongThang"
			/>
			<nb-rangepicker #dpkHSTrongThang></nb-rangepicker>
    <button nbButton status="primary" (click)="baoCao()">Xem thống kê</button>
    <nb-alert class="ml-2" accent="info" *ngIf="transactions.length===0">Không có dữ liệu thống kê</nb-alert>
    <ngx-charts-line-chart
      *ngIf="transactions.length>0"
      [animations]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [showGridLines]="true"
      [autoScale]="true"
      [results]="transactions"
      [view]="[1000, 400]"
      [legend]="true"
    >
    </ngx-charts-line-chart>
  </nb-card-body>
</nb-card>
