<nb-card>
  <nb-card-header>
   Quản lý ca làm
  </nb-card-header>
  <nb-card-body>
    <div class="row d-flex">
      <input
        class="m-2"
        nbInput
        placeholder="Thời gian làm việc"
        [(ngModel)]="tgLamViec"
        [nbDatepicker]="dpkHSTrongThang"
      />
      <nb-rangepicker #dpkHSTrongThang></nb-rangepicker>
      <ngx-select-ca-lam class="m-2" (valueChange)="filterEntity.workshift= $event"></ngx-select-ca-lam>
      <ngx-select-nhan-vien class="m-2" (nhanVienSelected)="filterEntity.userId= $event"></ngx-select-nhan-vien>
      <div class="nut-loc">
        <button
          nbButton
          status="primary"
          outline
          (click)="loadDataTable()"
        >
          Lọc
        </button>
      </div>
    </div>
    <ngn-datatable
      #table
      selectionType="single"
      [datatableService]="datatableService"
      [externalPaging]="true"
      [limit]="10"
      [scrollbarH]="true"
      class="material"
      [actions]="actions"
    >
      <ngn-datatable-column name="Ngày" prop="date" [width]="200">
        <ng-template ngn-datatable-cell-template let-value="value">
          <span>{{ value }}</span>
        </ng-template>
      </ngn-datatable-column>
      <ngn-datatable-column name="Ca làm" prop="workshift" type="string"  [width]="150"></ngn-datatable-column>
      <ngn-datatable-column name="Có/Không làm" prop="status" [width]="200">
        <ng-template ngn-datatable-cell-template let-value="value">
          <nb-checkbox disabled status="primary" *ngIf="value" [checked]="value">Có</nb-checkbox>
          <nb-checkbox disabled status="warning" *ngIf="!value" [checked]="value">Không</nb-checkbox>

        </ng-template>
      </ngn-datatable-column>
      <ngn-datatable-column name="Tên" prop="user.displayName" type="string"  [width]="200"></ngn-datatable-column>

      <ngn-datatable-column name="Số điện thoại" prop="user.phoneNumber" type="string"  [width]="250"></ngn-datatable-column>
      <ngn-datatable-column name="Địa chỉ" prop="user.address" type="string"  [width]="350"></ngn-datatable-column>
    </ngn-datatable>
  </nb-card-body>
</nb-card>
