<!-- <nb-card>
  <nb-card-body>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </nb-card-body>
  <dn-dialog [open]="isOpen">
    <dn-dialog-header>
      <button (click)="isOpen = false" nbButton>Đóng</button>
    </dn-dialog-header>
    <dn-dialog-body>
      <nb-select fullWidth placeholder="Chọn ca làm">
        <nb-option value="Sáng">Sáng</nb-option>
        <nb-option value="Chiều">Chiều</nb-option>
        <nb-option value="Tối">Tối</nb-option>
      </nb-select>
    </dn-dialog-body>
    <dn-dialog-footer>
      <button nbButton>Xóa trắng</button>
      <button status="success" nbButton>Thêm mới</button>
    </dn-dialog-footer>
  </dn-dialog>
</nb-card> -->
