<nb-card>
	<nb-card-header> Thêm sản phẩm </nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-md-8">
				<p class="row">
					<strong class="col-md-3">Tên sản phẩm: </strong>
					<input
						[(ngModel)]="thongTinSanPham.tenSanPham"
						nbInput
						type="text"
						fieldSize="small"
						placeholder="Nhập tên sản phẩm"
					/>
				</p>
				<p class="row">
					<strong class="col-md-3">Loại sản phẩm: </strong>
					<ngx-select-loai-san-pham
						[size]="'small'"
						[placerholder]="'Chọn loại sản phẩm'"
						(selectedItem)="thongTinSanPham.danhMucSanPhamId = $event"
					></ngx-select-loai-san-pham>
				</p>
				<p class="row">
					<strong class="col-md-3">Nhà cung cấp: </strong>
					<ngx-select-nha-cung-cap
						(selectedItem)="thongTinSanPham.nhaCungCapId = $event"
					></ngx-select-nha-cung-cap>
				</p>
				<p class="row">
					<strong class="col-md-3">Giá sản phẩm: </strong>
					<input
						[(ngModel)]="thongTinSanPham.giaSanPham"
						nbInput
						type="number"
						fieldSize="small"
						placeholder="Nhập giá sản phẩm"
					/>
				</p>
				<p class="row">
					<strong class="col-md-3">Giá khuyến mãi: </strong>
					<input
						[(ngModel)]="thongTinSanPham.giaKhuyenMai"
						nbInput
						type="number"
						fieldSize="small"
						placeholder="Nhập giá sản phẩm"
					/>
				</p>
				<p class="row">
					<strong class="col-md-3">Số lượng sản phẩm: </strong>
					<input
						[(ngModel)]="thongTinSanPham.soLuong"
						nbInput
						type="number"
						fieldSize="small"
						placeholder="Nhập số lương sản phẩm"
					/>
				</p>
			</div>
			<div class="col-md-4">
				<div
					class="custom-dropzone"
					ngx-dropzone
					[accept]="'image/*'"
					(change)="onSelect($event)"
				>
					<ngx-dropzone-label>
						<div>
							<p>
								Tải lên hình ảnh sản phẩm, hình ảnh chính vui lòng chọn cái đầu
								tiên
							</p>
						</div>
					</ngx-dropzone-label>
					<ngx-dropzone-image-preview
						ngProjectAs="ngx-dropzone-preview"
						type="image"
						*ngFor="let f of files"
						[file]="f"
						[removable]="true"
						(removed)="onRemove(f)"
					>
						<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
					</ngx-dropzone-image-preview>
				</div>
			</div>
		</div>
		<strong class="mb-2">Mô tả sản phẩm</strong>
		<ckeditor
			[(ngModel)]="thongTinSanPham.moTa"
			#myckeditor="ngModel"
			name="myckeditor"
			required
			[config]="ckeConfig"
			debounce="500"
		>
		</ckeditor>
	</nb-card-body>
	<nb-card-footer>
		<button
			[disabled]="loading || isUploadHinhAnh"
			[nbSpinner]="loading || isUploadHinhAnh"
			outline
			status="primary"
			(click)="onSaveSanPham()"
			nbButton
		>
			Save
		</button>
	</nb-card-footer>
</nb-card>
