<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="transaction">
            <div class="col-md-8">
                <nb-card>
                    <nb-card-header>
                        <h6>Chi Tiết Đơn Hàng</h6>
                        <nb-icon icon="inbox-outline"></nb-icon>
                        <span *ngIf="!transaction.status">Chưa hoàn thành</span>
                        <span *ngIf="transaction.status">Đã hoàn thành</span>
                    </nb-card-header>
                    <nb-card-body>
                        <div *ngFor="let order of transaction.orders"  class="row">
                            <div class="col-md-2">
                                <img src="{{order?.product.anhMinhHoa}}" width="100%" height="70px" alt="">
                            </div>
                            <div class="col-md-4">
                                <p>{{order?.product.tenSanPham}}</p>
                                <!-- <p>{{order?.product.danhMucSanPham.tenDanhMuc}}</p>
                                <p>{{order?.product.nhaCungCap.tenNhaCungCap}}</p> -->
                            </div>
                            <div class="col-md-4">
                                <span>{{order?.product.giaKhuyenMai}} VND x {{order?.qty}}</span>
                            </div>
                            <div class="col-md-2">
                                <span>{{order?.tongTien}} VND</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" nbInput placeholder="Thêm ghi chú cho đơn hàng">
                                <button class="btn" nbButton status="primary">Lưu</button>
                            </div>
                            <div class="col-md-4">
                                <p>Tổng giá trị sản phẩm:</p>
                                <p *ngIf="transaction.payment !== 'TT_TAI_QUAY'">Phí vận chuyển:</p>
                                <p>Số tiền phải thanh toán:</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{transaction.tongTien}} VND</p>
                                <p *ngIf="transaction.payment !== 'TT_TAI_QUAY'">30.000 VND</p>
                                <p>{{transaction?.tongTien}} VND</p>
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="col-md-2 ml-auto">
                            <span *ngIf="!transaction.status"></span>
                            <span *ngIf="transaction.status"><button nbButton status="primary">Xác thực</button></span>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </div>
            <div class="col-md-4">
                <nb-card>
                    <nb-card-header>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Khách hàng</h6>
                                <p>{{transaction?.user.displayName}}</p>
                                <p>{{transaction?.user.phoneNumber}}</p>
                                <p>{{transaction?.user.email}}</p>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Yêu cầu khách hàng</h6>
                                <p>{{transaction?.message}}</p>
                                <p *ngIf="transaction.message === null">Không có yêu cầu</p>
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Địa chỉ giao hàng</h6>
                                <p>{{transaction?.user.displayName}}</p>
                                <p>{{transaction?.user.phoneNumber}}</p>
                                <p>{{transaction?.user.address}}</p>
                            </div>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
</nb-card>   
