<nb-card>
	<nb-card-header
		><span>Trang bán hàng</span
		><span class="float-right"
			><button nbButton (click)="banHang()" status="success">
				Xác nhận thông tin
			</button></span
		>
	</nb-card-header>
	<nb-card-body>
		<nb-card>
			<nb-card-header> Giỏ hàng </nb-card-header>
			<nb-card-body>
				<div class="row mb-3">
					<div class="col-sm-3"><strong>Tên sản phẩm</strong></div>
					<div class="col-sm-2"><strong>Giá sản phẩm</strong></div>
					<div class="col-sm-2"><strong>Số lượng</strong></div>
					<div class="col-sm-2"><strong>Thành tiền</strong></div>
					<div class="col-sm-2"><strong>Tổng tiền</strong></div>
				</div>
				<div *ngFor="let product of lstCart" class="row">
					<div class="col-sm-3">{{ product.tenSanPham }}</div>
					<div class="col-sm-2">{{ product.giaKhuyenMai }} VNĐ</div>
					<div class="col-sm-2">
						<ngx-cell-so-luong-san-pham
							[soLuong]="product.soLuong"
							(handerActionSanPham)="
								handleActionSanPham($event, product.productId)
							"
							(click)="clickchecksoluong()"
						></ngx-cell-so-luong-san-pham>
					</div>
					<div class="col-sm-2">{{ product.thanhTien }} VNĐ</div>
					<div class="col-sm-2" (tongTien)="tongTien($event)" ></div>
					<div class="col-sm-1">
						<nb-icon
							class="btn__trash"
							(click)="handleXoaGioHang(product.productId)"
							icon="trash-outline"
							status="danger"
						></nb-icon>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
		<nb-card>
			<nb-card-header
				><span> Chọn sản phẩm</span>
				<div class="float-right">
					<ngx-select-ten-san-pham
						(productSelected)="loc($event)"
					></ngx-select-ten-san-pham>
				</div>
			</nb-card-header>
			<nb-card-body>
				<ngn-datatable
					#table
					selectionType="single"
					[datatableService]="datatableService"
					[externalPaging]="true"
					[limit]="10"
					[scrollbarH]="true"
					class="material"
					(activate)="clickRowHandle($event)"
				>
					<ngn-datatable-column
						type="string"
						name="Tên sản phẩm"
						prop="tenSanPham"
						[width]="200"
					></ngn-datatable-column>

					<ngn-datatable-column
						prop="anhMinhHoa"
						[width]="150"
						name="Hình ảnh"
						[flexGrow]="3"
					>
						<ng-template
							ngn-datatable-cell-template
							let-value="value"
							let-row="row"
						>
							<ngx-cell-hinh-anh-minh-hoa [hinhAnh]="value">
							</ngx-cell-hinh-anh-minh-hoa>
						</ng-template>
					</ngn-datatable-column>

					<ngn-datatable-column
						name="Số lượng"
						prop="soLuong"
						type="number"
						[width]="150"
					></ngn-datatable-column>
					<ngn-datatable-column
						name="Giá khuyến mãi"
						type="number"
						prop="giaKhuyenMai"
						[width]="150"
					></ngn-datatable-column>
					<ngn-datatable-column
						name="Danh mục sản phẩm"
						prop="danhMucSanPham.tenDanhMuc"
						type="string"
						[width]="250"
					></ngn-datatable-column>
				</ngn-datatable>
			</nb-card-body>
		</nb-card>
	</nb-card-body>
</nb-card>
