
<nb-card [nbSpinner]="status.loadLogin">
    <nb-card-header>Đăng nhập</nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="login(f)" #f="ngForm">
        <input class="mb-2" nbInput name="username" type="username" [(ngModel)]="username"  placeholder="Tên đăng nhập" required
            fullWidth title="Nhập tên đăng nhập" />
        <input class="mb-2" name="password" nbInput type="password" [(ngModel)]="password" placeholder="Mật khẩu" required fullWidth
            title="Nhập mật khẩu" />
            <button nbButton submit fullWidth status="primary" type="submit">Đăng nhập</button>
        </form>
    </nb-card-body>
</nb-card>
    

