:host{
    margin: auto;
    nb-card-body{
        > * {
            margin-top: 1rem;
        }
    }
}
.center{
    text-align: center;
}
form input{
    margin-top: 1rem;
}
form button{
    margin: 0 auto;
    margin-top: 2rem;
    width: 150px;
    display: flex;
}

