<nb-card>
	<nb-card-header> Quản lý sản phẩm </nb-card-header>
	<nb-card-body>
		<div class="row d-flex">
			<ngx-select-ten-san-pham class="ml-2" (productSelected)="getProductId($event)"></ngx-select-ten-san-pham>
			<ngx-select-nha-cung-cap class="ml-2" (selectedItem)="getTenNhaCungCap($event)" [size]="'medium'"></ngx-select-nha-cung-cap>
			<ngx-select-ctkm (selectedItem)="getCTKM($event)"></ngx-select-ctkm>
				<div class="nut-loc">
					<button nbButton status="primary" outline (click)="loadDataTable()">Lọc</button>
				</div>
		</div>
		<ngn-datatable
			#table
			selectionType="single"
			[datatableService]="datatableService"
			[externalPaging]="true"
			[limit]="10"
			[scrollbarH]="true"
			class="material"
			[actions]="actions"
			(activate)="clickRowHandle($event)"
		>
			<ngn-datatable-column
				type="string"
				name="Tên sản phẩm"
				prop="tenSanPham"
				[width]="200"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Số lượng"
				prop="soLuong"
				type="number"
				[width]="150"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Giá gốc sản phẩm"
				type="number"
				prop="giaSanPham"
				[width]="150"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Giá khuyến mãi"
				type="number"
				prop="giaKhuyenMai"
				[width]="150"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Tên nhà cung cấp"
				prop="nhaCungCap.tenNhaCungCap"
				type="string"
				[width]="250"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Danh mục sản phẩm"
				prop="danhMucSanPham.tenDanhMuc"
				type="string"
				[width]="250"
			></ngn-datatable-column>
		</ngn-datatable>
	</nb-card-body>
</nb-card>
