<nb-card>
	<nb-card-header> Quản lý đơn hàng </nb-card-header>
	<nb-card-body>
    <div class="row d-flex">
			<input
				class="m-2"
				nbInput
				placeholder="Thời gian nhận đơn"
				[(ngModel)]="tgNhanDon"
				[nbDatepicker]="dpkHSTrongThang"
			/>
			<nb-rangepicker #dpkHSTrongThang></nb-rangepicker>
			<div class="nut-loc">
				<button nbButton status="primary" outline (click)="loadDataTable()">
					Lọc
				</button>
			</div>
		</div>

		<ngn-datatable
			#table
			selectionType="single"
			[datatableService]="datatableService"
			[externalPaging]="true"
			[limit]="10"
			[scrollbarH]="true"
			class="material"
			[actions]="actions"
		>
			<ngn-datatable-column
				name="Tên người dùng"
				prop="user.username"
				type="string"
				[width]="150"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Tổng tiền"
				prop="tongTien"
				type="string"
				[width]="150"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Số lượng đơn"
				prop="qty"
				type="number"
				[width]="150"
			></ngn-datatable-column>
      <ngn-datatable-column
				name="Ngày mua hàng"
				prop="createDate"
				type="string"
				[width]="100"
			></ngn-datatable-column>
			<ngn-datatable-column
				name="Thanh toán"
				prop="payment"
				type="string"
				[width]="100"
			></ngn-datatable-column>
      <ngn-datatable-column
      name="Ghi chú"
      prop="message"
      type="string"
      [width]="100"
    ></ngn-datatable-column>
    <ngn-datatable-column name="Trạng thái" prop="status" [width]="200">
      <ng-template
        ngn-datatable-cell-template
        let-row="row"
        let-value="value"
      >
        <nb-checkbox
          status="warning"
          *ngIf="!value"
          (change)="duyetDonHang(row)"
          [checked]="value"
          >Chưa thanh toán</nb-checkbox
        >
        <nb-checkbox
          status="primary"
          *ngIf="value"
          (change)="duyetDonHang(row)"
          [checked]="value"
          >Đã thanh toán</nb-checkbox
        >
      </ng-template>
    </ngn-datatable-column>

		</ngn-datatable>
	</nb-card-body>
</nb-card>
